<html>
  <head>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/uodash.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/leaflet.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/tether.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/leaflet.js') }}"></script>
    <script src="{{ static_url('js/d3.v3.min.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Main Body -->
    <div class="jumbotron">
      <h1 class="display-3">HaDiVe</h1>
      <p class="lead">The Human Detection in Video (HaDiVe) project is a culmination of work undertaken by
        faculty and students at the NYU Center for Urban Science + Progress. Using <a href="http://dotsignals.org">publicly available
          video streams</a></p>
      <hr class="my-4">
      <p class="lead">The HaDiVe project
        aims to create a real-time pedestrian counter within New York City. At present, counts
        are recorded at approximately one minute intervals for each camera. Ultimately, this is
        being accomplished using a Faster Region-based Convolutional Neural Network
        (Faster R-CNN) trained with a hand-labelled set of DOT images. Visit the active <a href="https://github.com/gdobler/hadive">
          GitHub repo</a></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#vis" role="button">Learn more</a>
      </p>
    </div>

    <div class="jumbotron" id="vis">
      <h3 class="display-6"><u>Counts Visualization:</u><br/><br/></h3>
      <div class="container">
        <div class="row justify-content-md-center max-auto">
          <div class="col-md-7 map", id="map">
          </div>
          <div class="col-md-4 cam">
            <div class="row">
              <div class="col-md-12 cam", id="cam">
              </div>
              <br/>
              <div class="col-md-12 side", id="desc">
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
        <div class="row justify-context-md-center max-auto">
          <div class="col-md-12" id="plot" style="background:rgba(0,0,0,0.1);">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h3 class="display-6"><u>Examples:</u></h3>
      <div class="row justify-content-md-center">
        <p class="lead">With the current training and test set, the Faster R-CNN is achieving 51% precision
          identifying people. Together, the images below illustrate the current successes and
          shortcomings of the current iteration. As seen, the model is confidently identifying
          individuals in the foreground of the images. However, individuals who are distant from the
          camera or partially occluded are not being identified. Expanding the current training set
          is likely to improve overall performance. Nonetheless, current results may inform the
          relative number of pedestrians throughout the city at an granular temporal scale.</p>
        <br/>
        <br/>
        <img class="img-fluid" src="/static/imgs/ex1.png" style="max-height:400px; width:auto;"</img>
             <img class="img-fluid" src="/static/imgs/ex2.png" style="max-height:400px; width:auto;"</img>
                  </div>
    </div>
    <hr>
    <div class="card border-primary mb-3 mx-auto" style="max-width: 40rem;">
      <div class="card-header">Download Data</div>
      <div class="card-body text-success">
        <h4 class="card-title"></h4>
        <p class="card-text text-center">All data from the previous month is available for download</br></br>
          <a href="https://www.dropbox.com/sh/xfec6eknacirwab/AAAdzHGIkTHK173wq7BynCl6a?dl=0" target="_blank">
            <button type="button" class="btn btn-outline-success">Download</button></p></a>
      </div>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="container mx-auto" id="credit">
      <div class="row">
        <h3 class="display-6">Credits:</h3>
        <div class="col-6 mx-auto text-center">
          <br/>
          <p class="lead"> Prof. Gregory Dobler, Trang Dam, and Jordan Vani</p>
          <p> Center for Urban Science + Progress</p>
          <p> 2017 NYU CUSP. All rights reserved.</p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}

    <script>
      // Create map
      var map = L.map("map", {center: [40.72, -73.95], zoom: 10});

      L.tileLayer("http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png", {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="https://cartodb.com/attributi\
                                                                                                               ons">CartoDB</a>'
      }).addTo(map);

      // Load geojson.
      $.getJSON("/static/data/cameras.json", function(data) { addDataToMap(data, map); });

      // Add data to map.
      function addDataToMap(data, map) {
      var dataLayer = L.geoJson(data, {
      onEachFeature: camdesc
      });
      dataLayer.addTo(map);
      }

      // Function on-click
      function camdesc(feature, layer) {
      //bind click
      layer.on('click', function (event) {
      document.getElementById("cam").innerHTML = "<img src='/static/imgs/collected_ims/" + feature.properties.name + ".jpg' style='max-width:100%'></img>\
      ";
      document.getElementById("desc").innerHTML = "<p class='lead'>" + feature.properties.description + "</h3>";
document.getElementById("desc").innerHTML += "<p>Camera ID: " + feature.properties.name + "</p>";
document.getElementById("desc").innerHTML += "<p>Latitude: " + feature.geometry.coordinates[1] + "</p>";
document.getElementById("desc").innerHTML += "<p>Longitude: " + feature.geometry.coordinates[0] + "</p>";
document.getElementById("desc").innerHTML += "<p><a href='http://dotsignals.org/google_popup.php?cid=" + feature.properties.name + "' \
                                                    target='popup' onclick='window.open('http://dotsignals.org/google_popup.php?cid=" + feature.properties.cctv + "','DOT Camera','width=400,hei\
                                                    ght=300')'>Visit the DOT Camera</a>";

  d3.csv("/static/data/weekdayavg.csv", function(data){
  data = data.filter(function(row) {
  return row['cam'] == feature.properties.name;
  })

  data.forEach(function(d) {
  d.date = parseDate(d.date); //get rid of this when you connect to the database.
  d.count = +d.count;
  });

  var bisectDate = d3.bisector(function(d) { return d.date; }).left;

  // Clear contents
  svg.selectAll("*").remove();

  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.count; })]);

  // Add the valueline path.
  svg.append("path")
  .attr("class", "line")
  .attr("d", valueline(data));

  // Add the X Axis
  svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);

  // Add the Y Axis
  svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

  // Add axis labels
  svg.append("text")
  .attr("text-anchor", "middle")
  .attr("transform", "translate("+ (width/2) +","+(height+(padding*1.8))+")")
  .text("Time");

  svg.append("text")
  .attr("text-anchor", "middle")
  .attr("transform", "translate("+ (-padding*2.2) +","+(height/2)+")rotate(-90)")
  .text("Pedestrian Count");

  svg.append("text")
  .attr("text-anchor", "middle")
  .attr("x", 450)
  .attr("y", -20)
  .text("Average Weekday Pedestrian Count (5 Minute Interval)")
  .style("font-size", "20px")
  .style("font-weight", "bold");

  svg.append("text")
  .attr("text-anchor", "end")
  .attr("x", 900)
  .attr("y", 255)
  .text("*Average calculated using data from 2017/06/27 to 2017/08/30.")
  .style("font-size", "10px");

  // Mouseover
  var focus = svg.append("g")
  .attr("class", "focus")
  .style("display", "none")
  .style("font-size", "14px");

  focus.append("circle")
  .attr("r", 4.5);

  svg.append("text")
  .attr("class", "datelabel")
  .attr("x", 0)
  .attr("y", 255);

  svg.append("text")
  .attr("class", "pedlabel")
  .attr("x", 0)
  .attr("y", 240);

  svg.append("rect")
  .attr("class", "overlay")
  .attr("width", width)
  .attr("height", height)
  .on("mouseover", function() { focus.style("display", null); })
  .on("mouseout", function() { focus.style("display", "none"); })
  .on("mousemove", mousemove);

  function mousemove() {
  var x0 = x.invert(d3.mouse(this)[0]),
  i = bisectDate(data, x0, 1),
  d0 = data[i - 1],
  d1 = data[i],
  d = x0 - d0.date > d1.date - x0 ? d1 : d0;
             focus.attr("transform", "translate(" + x(d.date) + "," + y(d.count) + ")");

             d3.select("svg")
             .select(".datelabel")
             .text("Time: " + d.date.getHours() + ":" + d.date.getMinutes());

             d3.select("svg")
             .select(".pedlabel")
             .text("Pedestrians: " + Math.round(d.count * 100) / 100);
             }
             });
             });
             }

             // To create d3 plot.
             var margin = {top: 60, right: 30, bottom: 80, left: 70},
             width = 900,
             height = 200,
             padding = 20;

             var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

             var x = d3.time.scale().range([0, width]);

             var y = d3.scale.linear().range([height, 0]);

             var xAxis = d3.svg.axis()
             .scale(x)
             .orient("bottom").ticks(5);

             var yAxis = d3.svg.axis()
             .scale(y)
             .orient("left"); //.ticks(10);

             var valueline = d3.svg.line()
             .x(function(d) { return x(d.date); })
             .y(function(d) { return y(d.count); });

             var svg = d3.select("#plot")
             .append("svg")
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom)
             .append("g")
             .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


</script>

</body>
</html>
