<html>
  <head>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/uodash.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Main Body -->
    <h1>
      Hadive Page
    </h1>
    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
