<html>
  <head>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <ul>
      {% for item in items %}
      <li>{{ escape(item) }}</li>
      {% end %}
    </ul>
    <hr>
      WebSocket status : <span id="message"></span>
    <hr>
    <img id="AudubonCamD6"></img>
    <p id="optional_text"></p>
    <script src="{{ static_url('js/ws_img.js') }}"></script>
  </body>
</html>
